extends layout

block content
    div(id='header')
        div(id='title')
            h1 
                a(href='') Flautissimo
        div(id='login') 
            a(href='') Login 
    div(id='menu')
        div(class='menu-item')
            h2 Der Musikladen
            div Öffnungszeiten und mehr
        div(class='menu-item')
            h2 Katalog
            div Beschreibung
        div(class='menu-item') 
            h2 Angebote
            div Beschreibung
        div(class='menu-item') 
            h2 Blog 
            div Beschreibung
        div(class='menu-item') 
            h2 Blockflöten FAQ 
            div Beschreibung
        div(class='menu-item') 
            h2 Links 
            div Beschreibung
        div(class='menu-item')
            h2 Pinboard 
            div Beschreibung
        div(class='menu-item')
            h2 Earlybird 
            div Beschreibung
        div(class='menu-item')
            h2 Veranstaltungen 
            div Beschreibung