html(lang='de')
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/scripts/script.js") 
        meta(charset='utf-8')
        title= title
    body
    block content